body {
    background-color: #000000;
    overflow:hidden;
}

h4 {
    color: #FFFFFF;
    padding-left: 10px;
}

.tab-content{
    background-color: transparent;
}

.tab-content > .active, .pill-content > .active {
    padding: 0;
}

thead {
    background-color: #ffdb00;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #000000;
    font-size: 25px;
    text-align: center;
    color: #FFF;
    border-bottom: 3px solid #2d2d2d;
    padding: 20px 10px !important;
    border-radius: 0;
}

.table-striped tbody > tr:nth-child(2n) > td {
    background-color: #0B0B0B;
    font-size: 25px;
    text-align: center;
    color: #FFF;
    border-bottom: 3px solid #2d2d2d;
    padding: 20px 10px !important;
    border-radius: 0;
}

.table > thead:first-child > tr:first-child > th {
    width: 10%;
    font-size: 25px;
    text-align: center;
    color: #000000;
    text-transform: none;
    padding: 20px 10px !important;
}

#pagination_text p {
    color: #FFF;
    font-size: 26px;
    text-align: center;
}

.window img {
    width: 100%;
    height: auto;
}

.full img {
    width: 100%;
    height: 100%;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.8s linear;
    -moz-transition: opacity 0.8s linear;
    -ms-transition: opacity 0.8s linear;
    -o-transition: opacity 0.8s linear;
    transition: opacity 0.8s linear;
}

#error_logo {
    opacity: 0.3;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}